<div>
    <table>
        <tr><td>name:</td><td>{{model.name}}</td></tr>
        <tr><td>dockertag:</td><td>{{model.dockertag}}</td></tr>
        <tr><td>push:</td><td>{{model.push}}</td></tr>
        <tr><td>repo:</td><td>{{model.repo}}</td></tr>
    </table>
</div>
