<ul>
    <li><input type="text" name="name" /></li>
    <li><input type="text" name="dockertag" /></li>
    <li><input type="text" name="repo" /></li>
    <li>
        <select name="push">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
    </li>
</ul>
