<div id="brand">
    <img src="/ruler.png" alt="ruler" height="80"/>
    <h2>UNUO</h2>
</div>

<div>
    <div>Links to pages in Unuo:</div>
    <ul>
    <li>{{#link-to 'index'}}Main Page{{/link-to}}</li>
    <li>{{#link-to 'profiles'}}see build profiles{{/link-to}}</li>
    </ul>
</div>

{{outlet}}

