<p>UNUO, A Docker Build Automation Tool!</p>
<p>
UNUO is a simple Docker tool that allows you to kick off Docker builds from 
anywhere. It provides a simple RESTful api which allows other tools and scripts
to integrate and have the ability to dockerize.
</p>
<p>
Most likely this will involve a CI system calling, which in will 
prompt unuo to checkout the required Git repo and using the Dockerfile make a 
container. If you like it can push the container on build to a Docker registry.
</p>
<p>thanks to http://www.designcontest.com/ for the awsome icon</p>
